@font-face {
    font-family: Ni7;
    src: url(Font/Ni7seg.ttf);
}

@font-face {
    font-family: BigBlocko;
    src: url(Font/BigBlocko.ttf);
}

.ScoreBoard {
    position: fixed;
    border-collapse: collapse;
    background-image: url("images/ScoreBoard.png");
    width: 200px;
    height: 84px;
    z-index: 2;
}

.Score {
    position: fixed;
    border-collapse: collapse;
    font-family: Ni7;
    font-size: 40px;
    color: yellow;
}

.Time {
    position: fixed;
    border-collapse: collapse;
    font-family: Ni7;
    font-size: 36px;
    color: yellow;
}

button.Coin {
    position: fixed;
    border-collapse: collapse;
    background-image: url("images/Coin.png");
    width: 64px;
    height: 143px;
    z-index: 2;
}

.CoinText {
    position: fixed;
    border-collapse: collapse;
    font-family: Ni7;
    font-size: 24px;
    color: yellow;
}