@font-face {
    font-family: Ni7;
    src: url(Font/Ni7seg.ttf);
}

@font-face {
    font-family: BigBlocko;
    src: url(Font/BigBlocko.ttf);
}

@font-face {
    font-family: AR;
    src: url(Font/agent-red.ttf);
}

.ScoreBoard {
    position: fixed;
    border-collapse: collapse;
    background-image: url("images/ScoreBoard.png");
    width: 200px;
    height: 84px;
    z-index: 2;
}

.ScoreCalcBoard {
    position: fixed;
    border-collapse: collapse;
    background-color: #a52a2a;
    border-radius: 5px;
    box-shadow: 0 5px 50px #333;
    opacity: 0.8;
    width: 312px;
    height: 384px;
    z-index: 3;
}

.Score {
    position: fixed;
    border-collapse: collapse;
    font-family: Ni7;
    font-size: 40px;
    color: yellow;
}

.Time {
    position: fixed;
    border-collapse: collapse;
    font-family: Ni7;
    font-size: 36px;
    color: yellow;
}

button.Coin {
    position: fixed;
    border-collapse: collapse;
    background-image: url("images/Coin.png");
    width: 64px;
    height: 143px;
    z-index: 2;
}

.CoinText {
    position: fixed;
    border-collapse: collapse;
    font-family: Ni7;
    font-size: 24px;
    color: yellow;
}

.HeaderText {
    font-family: AR;
    font-size: 24px;
    color: #000000;
}

.ScoreExcellent {
    font-family: BigBlocko;
    font-size: 30px;
    color: yellow;
}

.ScoreGreat {
    font-family: BigBlocko;
    font-size: 30px;
    color: blue;
}

.ScoreGood {
    font-family: BigBlocko;
    font-size: 30px;
    color: #8a2be2;
}

.ScoreMiss {
    font-family: BigBlocko;
    font-size: 30px;
    color: red;
}

.ScoreExtra {
    font-family: BigBlocko;
    font-size: 30px;
    color: yellow;
}

.ScoreTotal {
    font-family: BigBlocko;
    font-size: 36px;
    color: yellow;
}

td.CoinText {
    font-family: Ni7;
    font-size: 28px;
    color: yellow;
}