@font-face {
    font-family: Ni7;
    src: url(Font/Ni7seg.ttf);
}

@font-face {
    font-family: BigBlocko;
    src: url(Font/BigBlocko.ttf);
}

@font-face {
    font-family: AR;
    src: url(Font/agent-red.ttf);
}

body {
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
    user-select: none;
}

.ScoreBoard {
    position: fixed;
    border-collapse: collapse;
    background-image: url("images/ScoreBoard.png");
    width: 200px;
    height: 84px;
    z-index: 2;

}

.ScoreCalcBoard {
    position: fixed;
    border-collapse: collapse;
    background-color: #a52a2a;
    border: 2px solid black;
    border-radius: 5px;
    box-shadow: 0 5px 50px #333;
    opacity: 0;
    width: 312px;
    height: 384px;
    z-index: 3;
}

.Score {
    position: fixed;
    border-collapse: collapse;
    font-family: Ni7;
    font-size: 40px;
    color: yellow;
}

.Time {
    position: fixed;
    border-collapse: collapse;
    font-family: Ni7;
    font-size: 36px;
    color: yellow;
}

button.Coin {
    position: fixed;
    border-collapse: collapse;
    background-image: url("images/Coin.png");
    width: 64px;
    height: 143px;
    z-index: 2;
}

.CoinText {
    position: fixed;
    border-collapse: collapse;
    font-family: Ni7;
    font-size: 24px;
    color: yellow;
}

.HeaderText {
    font-family: AR;
    font-size: 24px;
    color: #000000;
}

.ScoreExcellent {
    background-color: #000000;
    border: 2px solid #ff0600;
    border-radius: 5px;
    font-family: BigBlocko;
    font-size: 30px;
    color: yellow;
}

.ScoreGreat {
    background-color: #000000;
    border: 2px solid #ff0600;
    border-radius: 5px;
    font-family: BigBlocko;
    font-size: 30px;
    color: blue;
}

.ScoreGood {
    background-color: #000000;
    border: 2px solid #ff0600;
    border-radius: 5px;
    font-family: BigBlocko;
    font-size: 30px;
    color: #8a2be2;
}

.ScoreMiss {
    background-color: #000000;
    border: 2px solid #ff0600;
    border-radius: 5px;
    font-family: BigBlocko;
    font-size: 30px;
    color: red;
}

.ScoreExtra {
    background-color: #000000;
    border: 2px solid #ff0600;
    border-radius: 5px;
    font-family: BigBlocko;
    font-size: 30px;
    color: yellow;
}

.ScoreTotal {
    background-color: #000000;
    border: 2px solid #ff0600;
    border-radius: 5px;
    font-family: BigBlocko;
    font-size: 36px;
    color: yellow;
}

table.Board {
    width: 200px;
}

td.CoinText {
    background-color: #000000;
    border: 2px solid #ff0600;
    border-radius: 5px;
    font-family: Ni7;
    font-size: 28px;
    color: yellow;
    height: 31px;
    width: 108px;
}

.RankingBoardDiv {
    position: fixed;
    border-collapse: collapse;
    background-color: #a52a2a;
    border: 2px solid black;
    border-radius: 5px;
    box-shadow: 0 5px 50px #333;
    opacity: 0.8;
    width: 420px;
    height: 400px;
    z-index: 3;
}

.RankingRank {
    background-color: #000000;
    border: 2px solid #ff0600;
    border-radius: 5px;
    font-family: Ni7;
    font-size: 22px;
    color: yellow;
    width: 15%;
}

.RankingNickname {
    background-color: #000000;
    border: 2px solid #ff0600;
    border-radius: 5px;
    font-family: Arial;
    font-size: 24px;
    color: yellow;
    width: 60%;
}

.RankingScore {
    background-color: #000000;
    border: 2px solid #ff0600;
    border-radius: 5px;
    font-family: Ni7;
    font-size: 22px;
    color: yellow;
    width: 25%;
}

.RankingSRank {
    background-color: red;
    border: 2px solid black;
    border-radius: 5px;
    font-family: Ni7;
    font-size: 22px;
    color: white;
    width: 15%;
}

.RankingSNickname {
    background-color: red;
    border: 2px solid #000000;
    border-radius: 5px;
    font-family: Arial;
    font-size: 24px;
    color: white;
    width: 60%;
}

.RankingSScore {
    background-color: red;
    border: 2px solid #000000;
    border-radius: 5px;
    font-family: Ni7;
    font-size: 22px;
    color: white;
    width: 25%;
}

.RankingTop9 {
    background-color: red;
    border: 2px solid white;
    border-radius: 5px;
    font-family: Arial;
    font-size: 22px;
    color: yellow;
    width: 50%;
}

.RankingSelf {
    background-color: red;
    border: 2px solid white;
    border-radius: 5px;
    font-family: Arial;
    font-size: 22px;
    color: yellow;
    width: 50%;
}

.RankingRank:hover {
    border: 2px solid yellow;
    color: white;
}

.RankingNickname:hover {
    border: 2px solid yellow;
    color: white;
}

.RankingScore:hover {
    border: 2px solid yellow;
    color: white;
}

.RankingSRank:hover {
    border: 2px solid yellow;
    color: white;
}

.RankingSNickname:hover {
    border: 2px solid yellow;
    color: white;
}

.RankingSScore:hover {
    border: 2px solid yellow;
    color: white;
}

.RankingTop9:hover {
    background-color: #000000;
    border: 2px solid red;
    color: white;
}

.RankingSelf:hover {
    background-color: #000000;
    border: 2px solid red;
    color: white;
}

table.RankingBoard {
    left: 10px;
    top: 38px;
    width: 400px;
    position: absolute;
}

.SetNickname {
    position: fixed;
    border-collapse: collapse;
    background-color: #a52a2a;
    border: 2px solid black;
    border-radius: 5px;
    box-shadow: 0 5px 50px #333;
    opacity: 0.8;
    z-index: 3;
    height: 92px;
    width: 284px;
}

.SetNicknameButton {
    -moz-border-radius: 2px;
    -webkit-border-radius: 5px;
    border-radius: 2px;

    -moz-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.6);
    -webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.6);
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.6);

    background: -moz-linear-gradient(19% 75% 90deg, #FF4D01, #FF8924);

    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#FF8924), to(#FF4D01));

    color: #fff;
    font-family: arial, helvetica, sans-serif;
    font-size: 12px;
    font-weight: bold;
    padding: 6px 8px;
}

.SetNicknameButton:hover {
    background: -moz-linear-gradient(19% 75% 90deg, #EB4701, #F58423);
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#F58423), to(#EB4701));
}

table.SetNicknameInput {
    top: 24px;
    width: 280px;
    position: absolute;
}


